body {
	font-family: 'IBM Plex Sans', sans-serif;
	/* font-size: 1.25vw; */
}

body, ul {
	margin: 0;
	padding: 0;
}

h1, h2, .skills-list, #contact {
	font-family: 'Inknut Antiqua', serif;
}

img{
	/*this is limiting the width of the image
	so it takes 100% width of the parent maximum*/
	max-width: 100%;
}

nav {
	position: fixed;
	z-index: 1;
	width: 100%;
	background-color: #DBEBF4;
}

nav ul li {
	display: inline-block;
	margin: 0 15px; /*0 refers to top and bottom and 15px to the left and right*/
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}

li.empty {
	width: 90px;
	border-top: 1px solid black;
	top: -5px;
	position: relative;
}

nav li a {
	text-decoration: none;
	color: black;
}

nav li a:hover {
	text-decoration: underline;
}

nav ul {
	margin: 0 auto;
	text-align: center;
	padding: 30px;
}

header	{
/* top: 70px; */
/* position: relative; */
padding-top: 9vh;
padding-bottom: 6vh;
background-color: #DBEBF4;
}

h1 {
	font-size: 5vw;
	line-height: 130%;
}

h2 {
	font-size: 20px;
	line-height: 130%;
}

h1, h2 {
	font-weight: normal;
}

ul li {
	list-style: none;
	margin: 10px 0;
}

p {
	line-height: 150%;
}

.button{
	border: 1px solid black;
	text-decoration: none;
	color: black;
	padding: 10px 30px;
	margin-top: 40px;
	display: inline-block;
	border-radius: 20px;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out;

}

.button:hover {
	background: black;
	color: white;
}

figcaption{
	font-size: 12px;
	/* margin-top: 10px; */
}

.intro-img {
	/* box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2); */
	margin-top: 4vw;
	max-width: 30vw;
	min-width: 15vw;

}

.skills-list {
	text-align: center;
	/* font-size: 1.5vw; */
	line-height: 150%;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.project{
	/* margin: 30px 0; */
	padding: 50px;
}

.blue {
	background-color:  #DBEBF4;
}

.project .button {
	margin-top: 10px;
}

#contact {
	text-align: center;
	padding-bottom: 2vh;
}

/* @media all and (min-width: 960px) {
#contact {
    font-size: 2vw;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
#contact {
    font-size: 4vw;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {
#contact {
    font-size: 5vw;
  }
} */

.right-alignment {
	text-align: right;
}

.left {
	padding-left: 15vw;
	text-align: left;
}

.right {
	padding-right: 15vw;
	text-align: right;
}

.col {
	padding-top: 4vh;
}

.hi-list {
	/* margin-left: 4vw; */
}

.spacing {
	padding-bottom: 3vw;
}

.connect {
	margin-bottom:3vw;
}

/* Define minimum font size */
html {
 font-size:1rem;
}

/* Define breakpoints and font sizes */
@media (min-width:375px) and (max-width:1023px) {
 html {
  font-size: 1.0625rem;
 }
}

@media (min-width:1024px) and (max-width:1279px) {
 html {
  font-size: 1.125rem;
 }
}

/* Define max font size and viewport */
@media (min-width:1280px) {
 html {
  font-size: 1.1875rem;
 }
}
